<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- TailwindCSS wird eingebunden. -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <!-- Favicon wird eingebunden. -->
        <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
        <title>21 Minuten</title>
    </head>
    <body>
        <!-- Content der verschiedenen Seiten wird hier eingefügt -->
        {% block content %}
        {% endblock %}
        <footer class="bg-gray-200 py-4">
            <div class="container mx-auto px-4">
                <p class="text-center text-gray-600">© by Lukas Fasnacht | all rights reserved</p>
            </div>
        </footer>
    </body>
    </body>
</html>